.outfitpanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3%;
}
.outfitsleft, .outfitsright {
  padding: 30px 0;
}
.outfitsleft {
  width: 29%;
  padding: 50px 20px;
  display: flex;
  align-items: center;
}
.innerfiltermenu {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 450px;
  /* justify-content: space-evenly; */
  padding: 80px 30px;
  position: relative;
}
.piecesoptionbtn {
  width: 100%;
  height: 40px;
  position: relative;
}
.innerfiltermenu select {
  width: 100%;
}

.topmenu {
  height: 200px;
  /* margin-top:63%; */
  
}
.topmenu , .bottom-menu {
  padding:15px;
  position:fixed;
  bottom:250px;
}
.topmenu select , .bottom-menu select{
width: 20vw;
}
.outfitsright {
  width: 100%;
}
.inner-outfit-menu {
  background-color: white;
  padding: 30px 10px;
  width: 80%;
  margin: 0 auto;
}
.outfit-title {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.outfit-title label{
  font-size:14px;
  font-weight: bold;
}
.outfit-title div{
  width: 13vw;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.outfit-title select{
  border-radius: 5px;
  width: 10vw;
}
.outfit-title h1 {
  font-size: 1.6em;
  font-weight: 400;
  margin-bottom: 15px;
}
.button-group {
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin: 0 auto 20px;
 
}
.saved-button-group {
  display: flex;
  justify-content: space-around;
  /* width: 400px; */
  /* margin: 20px auto;  */
  width:85vw;
}
.saved-button-group button, .button-group button, .logoutbtn {
  width: 100px;
}
.btn {
  border: none;
}
.button-group .btn-primary, .saved-button-group .btn-primary , .logoutbtn{
  color: black;
  border: 1px solid black;
  background-color: white;
}
.btn-primary:hover, .saved-button-group .btn-primary:hover {
  border: none;
}
.button-group button:hover, .saved-button-group button:hover, .logoutbtn:hover {
  color: white;
  border: 1px solid white;
  background-color: #494949;
}
.button-group .btn-primary:not(:disabled):not(.disabled):active, .button-group  .btn-primary:not(:disabled):not(.disabled).active, .button-group .show > .btn-primary.dropdown-toggle {
  border: 1px solid white;
  color: white;
  background-color: #494949;
}
.saved-button-group .btn-primary:not(:disabled):not(.disabled):active, .saved-button-group  .btn-primary:not(:disabled):not(.disabled).active, .saved-button-group .show > .btn-primary.dropdown-toggle {
  border: 1px solid white;
  color: black;
  background-color: #494949;
}
.btn-primary:focus, .btn-primary.focus {
  border: none;
  background-color: white;
  box-shadow: 0 0 0 0.2rem rgba(107, 247, 205, 0.274);
}
.active {
  color: #a2dfc4;
}

  .socialShareButton {
      height: 50px;
      line-height: 50px;
      padding: 0px 25px;
      background: #666;
      color: #fff;
      cursor: pointer;
  }
  .closeShare {
      display: none;
      opacity: 0;
  }
  .openShare {
      display: block;
      opacity: 1;
      animation: socialShareAnimation 1s;
  }
  i {
      font-size: 50px;
      color: #666;
      margin: 0px 10px;
  }

#menu {
  
  position: absolute;
  height: calc(100vh - 40px);
  width: 210px;
  left: 0;
  background-color: white;
  -webkit-transform: translateX(-210%);
  transform: translateX(-210%);
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  z-index: 1;

}
#menu.isopen {
  -webkit-transform: none;
  transform: none;
  background-color:#28A59A;
  z-index:1;
}
/* .sidebtn-options {
  position: relative;
} */
.hambclicker {
  position: absolute;
  top: 75px;
  border: none;
  /* border-radius: 5px; */
  width: 50px;
  height: 50px;
  left: 0;
  /* background-color: white; */
  background-color: #f9f5f0;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  transition: transform 300ms, -webkit-transform 300ms, background-color 300ms;
  padding: 13px;
  /* transition: 0.8s all; */
  display:none;
  cursor:pointer;
}
.hambclicker i {
  font-size: 1.5em;
  margin: 0;
}
/* .hambclicker:after, 
.hambclicker:before, 
.hambclicker span {
  background-color: #000;
  border-radius: 3px;
  content: '';
  display: block;
  height: 4px;
  margin: 0 0 5px;
  transition: all .2s ease-in-out;
} */
.hambclicker:hover {
  background-color: #494949;
}
.hambclicker.isopen {
  -webkit-transform: translateX(320%);
  transform: translateX(320%);
  z-index: 3;
  background-color:#28A59A;
}
/* .hambclicker.isopen:before {
  transform: translateY(9px) rotate(135deg);
}

.hambclicker.isopen:after {
  transform: translateY(-9px) rotate(-135deg);
}

.hambclicker.isopen span {
  transform: scale(0);
} */

.top{
  width: 60vw;
}
.top select{
  width: 20vw;
}
@media all and (max-width: 900px) {
  .outfitpanel {
    margin-top: 8%;
  }
}

@media all and (max-width: 700px) {
  .home-wrapper{
    margin-top:6%;
  }
  .outfitpanel {
    margin-top: 6%;
  }
  .button-group {
    width: 70%;
  }
  .home-wrapper .button-group {
    display:none;
  }
  .saved-button-group {
    width: 95%;
  }
  .topmenu{
    top:185px;
  }
  .slide{
    margin-top: 120px;
    width: 35vw;
  }
  .topmenu select , .bottom-menu select{
    width: 30vw;
    }
    .hambclicker {
      display:block;
    }
}
@media all and (max-width: 500px) {
  .outfitpanel {
    margin-top: 12%;
  }
  .slide{
  
    width: 45vw;
  }
  .topmenu select , .bottom-menu select{
    width: 45vw;
    }
}
