.card-wrapper {
  width: 400px;
  position: relative;
  margin: 0 auto 30px;
}
.carousel {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* height: 250px; */
  /* border: 1px solid black; */
  text-align: center;
  /* background-color: white; */
}
.carousel a {
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  width: 95%;
  height: 240px;
  position: relative;
  transition: 0.5s all;
}
.carousel a .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.carousel a:hover .content-overlay{
  opacity: 1;
}
.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.carousel a:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}
.content-details h3{
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.fadeIn-bottom{
  top: 80%;
}
.carousel button {
  background-color: transparent;
  border: none;
  font-size: 1.4em;
  box-sizing: border-box;
  height: 25px;
  width: 25px;
  border-style: solid;
  border-color: black;
  border-width: 0px 2px 2px 0px;
  transition: border-width 150ms ease-in-out;
}
button:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}
.carousel img {
  max-width: 100%;
  max-height: 100%;
  /* width: 100%;
  height: auto; */
}
.leftbutton {
  /* position: absolute;
  left: -30px;
  top: 45%; */
  transform: rotate(135deg);
  cursor: pointer;
}
.rightbutton {
  /* position: absolute;
  right: -30px;
  top: 45%; */
  transform: rotate(-45deg);
  cursor: pointer;
}
button:focus {outline:0;}

@media all and (max-width: 700px) {
  .card-wrapper {
    width: 75%;
  }
}