.card-wrapper {
  width: 400px;
  position: relative;
  margin: 0 auto 30px;
}
.carousel {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* height: 250px; */
  /* border: 1px solid black; */
  text-align: center;
  /* background-color: white; */
}
.carousel a {
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  width: 95%;
  height: 250px;
}
.carousel button {
  background-color: transparent;
  border: none;
  font-size: 1.4em;
  box-sizing: border-box;
  height: 25px;
  width: 25px;
  border-style: solid;
  border-color: black;
  border-width: 0px 2px 2px 0px;
  transition: border-width 150ms ease-in-out;
}
button:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}
.carousel img {
  max-width: 100%;
  max-height: 100%;
  /* width: 100%;
  height: auto; */
}
.leftbutton {
  /* position: absolute;
  left: -30px;
  top: 45%; */
  transform: rotate(135deg);
  cursor: pointer;
}
.rightbutton {
  /* position: absolute;
  right: -30px;
  top: 45%; */
  transform: rotate(-45deg);
  cursor: pointer;
}
button:focus {outline:0;}

@media all and (max-width: 700px) {
  .card-wrapper {
    width: 75%;
  }
}